Game/gamedir/versions_descriptor/*
Game/gamedir/versions/*
Game/gamedir/libs/*
Game/gamedir/natives/*
Game/gamedir/assets/*
Game/.java
src/logs

Game/.minecraft/*

Game/*.profile.json
Game/GlobalProfile.json
