Game/gamedir/versions_descriptor/*
Game/gamedir/versions/*
Game/gamedir/libs/*
Game/gamedir/natives/*
Game/gamedir/assets/*
Game/.java

Game/.minecraft/*

Game/*.profile.json
Game/GlobalProfile.json

src/logs
src/node_modules
